@import "compass";
@import "theme_variables";
#languages-block-top {
	.five .button-wrap {
		width: 82px;
		margin: 5px 15px;
		cursor: pointer;
	}
	.five .button-bg {
		width: 70%;
		height: 100%;
		background-color: #7c6945;
		border-radius: 40px;
		padding: 0;
		color: #fff;
		transition: all 0.2s ease;
	}
	.five :hover.button-bg {
		color: #fff;
	}
	.five .button-switch {
		position: absolute;
		left: 16px;
		width: 32px;
		height: 20px;
		background-color: #fff;
		/*border:solid 13px;*/
		border-radius: 36px;
		transition: all 0.2s ease;
	}
	.five .button-active .button-switch {
		left: 40px;
	}
	.five .button-in,
	.five .button-out {
		position: absolute;
		transition: all 0.2s ease;
		padding-top: 3px;
		font-size: 0.8em;
		text-transform: uppercase;
		font-weight: bold;
	}
	.five .button-in a {
		margin-left: 35px;
		color: #fff;
	}
	.five .button-out a {
		margin-left: 8px;
		color: #fff;
	}
	.five .button-active .button-out a {
		color: #fff;
	}
	.five .button-active .button-in a {
		color: #fff;
	}
	.five .button-active .button-bg {
		background-color: #7c6945;
	}
	.five .button-bg div {
		display: inline;
		text-transform: uppercase;
		font-size: 0.8em;
	}
	.five .button-bg div a {
		color: #fff;
	}
	.five .button-bg div:first-child {
		margin: 0 15px 0 5px;
	}
	float: right;
	position: relative; // max 479px
	@media (max-width: $screen-xs - 1) {
		width: 25%;
	}
	span.firstWord {
		display: none;
	}
	div.current {
		font-weight: bold;
		padding: 8px 10px 10px 10px;
		line-height: 18px;
		color: $light-text-color;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		@media (max-width: $screen-xs - 1) {
			text-align: center;
			padding: 9px 5px 10px;
			font-size: 11px;
		}
		strong {
			color: #777777;
		}
		&:after {
			content: "\f0d7";
			font-family: $font-icon;
			font-size: 18px;
			line-height: 18px;
			color: #7C6945;
			vertical-align: -2px;
			padding-left: 12px; // max 479px
			@media (max-width: $screen-xs - 1) {
				padding-left: 2px;
				font-size: 13px;
				line-height: 13px;
				vertical-align: 0;
			}
		}
		.cur-label {
			// max 479px
			@media (max-width: $screen-xs - 1) {
				display: none;
			}
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 37px;
		left: 0;
		width: 157px;
		background: $dark-background;
		z-index: 2;
		li {
			color: $light-text-color;
			line-height: 35px;
			font-size: 13px;
			a,
			>span {
				padding: 0 10px 0 12px;
				display: block;
				color: $light-text-color;
			}
			&.selected,
			&:hover a {
				background: #7C6945;
			}
		}
	}
}