@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Calligraffitti");
@import url("https://fonts.googleapis.com/css?family=Catamaran:800");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'Great-Day-Personal-Use';
  src: url("../fonts/Great-Day-Personal-Use.ttf.woff") format("woff"), url("../fonts/Great-Day-Personal-Use.ttf.svg#Great-Day-Personal-Use") format("svg"), url("../fonts/Great-Day-Personal-Use.ttf.eot"), url("../fonts/Great-Day-Personal-Use.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Proxima';
  src: url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#Proxima") format("svg"), url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf.eot"), url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Proxima-light';
  src: url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#Proxima") format("svg"), url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf.eot"), url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
/*#7C6945*/
#reviews #center_column {
  padding: 0; }
  #reviews #center_column h1 {
    margin: 2em auto;
    text-align: center;
    font-family: "Proxima", "Open+Sans", Helvetica, sans-serif; }
  #reviews #center_column .card {
    background: url(../img/ssm-review-bg.png) center repeat;
    height: 448px;
    width: 448px;
    border: 4px solid #a39161;
    display: block;
    position: relative;
    -moz-box-shadow: #000101 0px 8px 24px;
    -webkit-box-shadow: #000101 0px 8px 24px;
    box-shadow: #000101 0px 8px 24px; }
    #reviews #center_column .card h2,
    #reviews #center_column .card p {
      color: #fff; }
    #reviews #center_column .card hr {
      border-top: 2px solid #fff;
      width: 60px;
      clear: both;
      border-width: 1px 0 0;
      margin: 20px 0;
      height: 0; }
  #reviews #center_column .card.left {
    float: left;
    margin-left: 15%; }
  #reviews #center_column .card.right {
    float: right;
    margin-right: 15%; }
  #reviews #center_column .card::after {
    content: "";
    background: url(../img/ssm-review-bg.png) center repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  #reviews #center_column .post {
    margin: 5em 0 0 0;
    background: url(../img/reviews-background.png) center repeat;
    height: 60vh;
    border: 4px solid #a39161;
    margin: 5em 15% !important;
    -moz-box-shadow: #000101 0px 8px 24px;
    -webkit-box-shadow: #000101 0px 8px 24px;
    box-shadow: #000101 0px 8px 24px; }
    #reviews #center_column .post label {
      color: #a39161;
      text-transform: uppercase; }
    #reviews #center_column .post .page-subheading {
      padding: 15px 0 15px 15px;
      color: #a39161;
      border: 0; }
    #reviews #center_column .post .submit.col-xs-12 {
      display: inline-block;
      text-align: center;
      margin: 2em; }
    #reviews #center_column .post textarea.form-control {
      height: auto;
      min-height: 15vh; }
    #reviews #center_column .post .button.button-medium span {
      text-transform: uppercase; }
@media (min-width: 768px) {
  #reviews .columns-container .container {
    max-width: 100%;
    /*height: 64vh;*/ }
    #reviews .columns-container .container .row {
      margin-left: 0 !important;
      margin-right: 0 !important; } }

/*# sourceMappingURL=reviews.css.map */
