@import "compass";
@import "theme_variables";
#artofmaking {
    #center_column {
        padding: 0;
    }
    .jumbotron {
        background: url("../img/cutting-cloth.jpg") center no-repeat;
        height: 60vh;
    }
    .row {
        margin: 0;
    }
    h1 {
        text-align: center;
        font-family: $font-cata;
        font-size: 2.5em;
        padding: 5em 0;
        text-transform: uppercase;
        color: #fff;
    }
    h4 {
        font-size: 1.8em;
        color: $light-text-color;
        line-height: 1.6em;
        font-family: $font-cata;
    }
    h2 {
        margin-left: 2em;
        margin-top: 3em;
        font-family: $font-cata;
    }
    h3 {
        margin: 0 15%;
        font-family: $font-cata;
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        margin: 4em;
        line-height: 1.8em;
        font-family: $font-robo;
        text-align: justify;
    }
    .text {
        padding-top: 3em;
    }
    hr {
        border-top: 2px solid #444;
        width: 60px;
        clear: both;
        border-width: 1px 0 0;
        margin: 20px 4em;
        height: 0;
    }
    .aom-ul {
        ul {
            li {
                margin: 1em 5em 0 5em;
            }
        }
    }
    #info-box {
        top: 350px;
    }
    #info-box-2 {
        top: 510px;
    }
    #info-box,
    #info-box-2 {
        left: -830px;
        margin-top: 75px;
        width: 900px;
        height: 605px;
        float: left;
        position: absolute;
        max-width: 100%;
        .info-block {
            position: absolute;
            opacity: 0;
            background: #FFFFFF;
            z-index: 10;
            width: 900px;
            height: 150px;
            padding: 20px;
            -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
            max-width: 85%;
            .close-button {
                display: block;
                width: 20px;
                height: 20px;
                background: transparent url(../img/cross-close.png) center/80% no-repeat;
                position: absolute;
                right: 0px;
                top: 0px;
                cursor: pointer;
            }
        }
        .info-box-image {
            display: block;
            overflow: hidden;
            -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
            margin-bottom: 30px;
        }
        .info-box-title {
            color: #001948;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
        }
        .info-box-description {
            color: #001946;
            line-height: 22px;
            padding: 0;
        }
    }
    #suit-box img {
        position: absolute;
        height: 98%;
        max-width: 461%;
    }
    #suit-box-2 img {
        position: absolute;
        height: 80%;
        max-width: 509%;
        left: 70%;
        top: 4%;
    }
    #suit-box {
        height: 620px;
    }
    #suit-box-2 {
        height: 796px;
    }
    #suit-box,
    #suit-box-2 {
        position: relative;
        display: block;
        float: left;
        margin-left: 0px;
        .point {
            position: absolute;
            display: block;
            width: 21px;
            height: 21px;
            background: transparent url(../img/point_2.png) no-repeat 0 0;
            cursor: pointer;
            .title,
            .description,
            .image {
                display: none;
            }
        }
    }
    @media (min-width: 768px) {
        .columns-container {
            .container {
                max-width: 100%;
            }
        }
    }
}