@import "compass";
@import "theme_variables";
#overseas {
    #center_column {
        padding: 0;
        .jumbotron {
            background: url("../img/Louvre_Museum_Night_Small.png") center no-repeat;
            height: 60vh;
            h2,
            {
                text-align: center;
                color: #fff;
            }
        }
        .row {
            margin: 0;
        }
        .center {
            p {
                text-align: center !important;
            }
            hr {
                margin: auto;
            }
        }
        h1 {
            text-align: center;
            font-family: $font-cata;
            font-size: 2.5em;
            padding: 5% 0;
            text-transform: uppercase;
            color: #fff;
        }
        h2 {
            margin-left: 2em;
            font-family: $font-cata;
        }
        h3 {
            color: $gold;
            margin-left: 2em;
            font-family: $font-cata;
            font-size: 2em;
        }
        h4 {
            color: $gold;
            font-size: 1.8em;
            text-align: center;
            line-height: 1.6em;
            font-family: $font-cata;
            margin-top: 2em;
        }
        p {
            font-size: 1.2em;
            margin: 0 4em 9px;
            line-height: 1.8em;
            font-family: $font-robo;
            text-align: justify;
        }
        a {
            color: $gold;
        }
        figure {
            padding: 0;
        }
        .text {
            padding-top: 3em;
        }
        hr {
            border-top: 2px solid #444;
            width: 60px;
            clear: both;
            border-width: 1px 0 0;
            margin: 20px 4em;
            height: 0;
        }
        .last-mtm {
            margin-top: 0;
        }
        .logos {
            padding: 0 20vw;
            margin: 0 0 5em 0;
            list-style: none;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            justify-content: space-around;
            figure {
                margin: 0 20px;
                img {
                    max-width: 135px;
                }
            }
        }
        .center {
            text-align: center;
            margin: 4em 0;
            h2,
            h4 {
                margin: 3em 0;
            }
        }
        button {
            text-align: center;
            display: block;
            margin: 0 auto;
            color: $gold;
            border: 4px solid $gold;
            background: #ffffff;
            padding: 1em 2em;
            font-size: 1.2em;
            text-transform: uppercase;
        }
        button:hover {
            opacity: 0.6;
        }
        .image-center {
            display: inline;
        }
    }
    #footer {
        h4 {
            text-align: left;
        }
    }
    @media (min-width: 768px) {
        .columns-container {
            .container {
                max-width: 100%;
            }
        }
    }
}