@import "compass";
@import "theme_variables";
#rdv {
    h2,
    h3 {
        text-align: center;
    }
    #map {
        height: 50vh;
    }
    .map {
        p {
            font-size: 1.4em;
        }
    }
    .contact-form-box .submit {
        text-align: center;
    }
}